[user]
	name = Sam de Freyssinet
	email = sam@def.reyssi.net
[alias]
	ci = commit
	co = checkout
	br = branch
	st = status
[color]
	ui = true
[core]
	editor = vim
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[init]
	default = main
